{% ckan_extends %}

{% block resource_last_updated %}
  <tr>
    <th scope="row">{{ _('Data last updated') }}</th>
    <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.Created) or _('unknown') }}</td>
  </tr>
  <tr>
    <th scope="row">{{ _('Metadata last updated') }}</th>
    <td>{{ h.render_datetime(res.metadata_modified) or h.render_datetime(res.Created) or _('unknown') }}</td>
  </tr>
{% endblock %}

{% block resource_created %}
  <tr>
    <th scope="row">{{ _('Created') }}</th>
    <td>{{ h.render_datetime(res.Created) or _('unknown') }}</td>
  </tr>
{% endblock %}

{% block resource_fields %}
  {% do exclude_fields.append("last_modified") %}
  {{ super() }}
  <tr>
    <th>{{ _("Media type") }}</th>
    <td>{{ res.get("mimetype", _("unknown")) }}</td>
  </tr>
  <tr>
    <th>Size</th>
    <td>{{ h.localised_filesize(res.Size) if res.Size else _("unknown") }}</td>
  </tr>
  <tr>
    <th>{{ _("Has views") }}</th>
    <td>{{ res.has_views or false }}</td>
  </tr>
  <tr>
    <th>{{ _("ID") }}</th>
    <td>{{ res.id }}</td>
  </tr>
  <tr>
    <th>{{ _("On same domain") }}</th>
    <td>{{ res.on_same_domain or false }}</td>
  </tr>
  <tr>
    <th>{{ _("Package ID") }}</th>
    <td>{{ res.package_id }}</td>
  </tr>
  <tr>
    <th>{{ _("State") }}</th>
    <td>{{ res.state }}</td>
  </tr>
  <tr>
    <th>{{ _("URL type") }}</th>
    <td>{{ res.url_type or _("unknown") }}</td>
  </tr>
{% endblock resource_fields %}


{% block secondary_content %}

  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id, action='read', is_activity_archive=is_activity_archive %}
  {% endblock %}

  {% snippet "snippets/social.html" %}

{% endblock %}
