include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/search *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/search/migration *.ini *.py *.mako
recursive-include ckanext/search/public *.*
