.media-grid {
    padding: 15px;
    padding-bottom: 0px;
    margin: 0;

    .media-item {
        width: 100%;
        margin: 0px;

        .media-image {
            float: right;
            max-width:  210px;
            max-height: 125px;
        }
    }

    &.organisation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        &:before, &:after {
            content: none;
        }

        .media-item {
            margin-bottom: 15px;
            text-align: center;

            .media-image {
                float: none;
                margin: auto;
            }

        }

        @media (min-width: $screen-sm-min) {
            flex-direction: row;
            .media-item {
                width: 49%;
            }
        }
    }
}

//FIXME Should be deleted after ckan-2.10.1 (https://github.com/ckan/ckan/pull/7467)
@media (max-width: 768px) {
    .wrapper::before {
        display: none;
    }

    .wrapper .module > .page-header {
        margin-top: 0;
    }
}
