$imagePath: "../../base/images";

$dga-color-light-gray: #e8e8e8;
$dga-color-gray: #505050;
$dga-color-dark-gray: #4c4c4e;
$dga-color-blue: #004a61;

$dga-account-bg: $dga-color-dark-gray;
$dga-header-bg: $dga-color-light-gray;
$dga-main-bg: $dga-color-light-gray;
$dga-breadcrumb-color: $dga-color-gray;
$dga-sitewide-search-border: $dga-color-blue;

$dga-footer-color: #ccdee3;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
