{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta name="google-site-verification"
        content="B8scmW2_LMm4IW_ogXK9lojznO57GBpYlWrFjfGz3X8"/>
  <meta name="twitter:site" content="@datagovau"/>
  <meta name="og:site_name" content="data.gov.au"/>
  {% include "dga/snippets/gtm.html" %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'datagovau/dga-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js"
          crossorigin="anonymous"></script>

  <script src="https://data.gov.au/data/dataset/2b491307-2db1-4d1b-a9f9-ba021c3fe2e0/resource/9fa99c8c-7b43-48ed-a2e1-b5a7d6bf8c51/download/banner.js"
          crossorigin="anonymous"></script>

  {% asset 'datagovau/dga-js' %}
{% endblock %}
