{% set stats = h.dga_get_ddg_site_statistics() %}

<div class="module-stats">
  <div class="card box">
    <h2>{{ _('{0} statistics').format(g.site_title) }}</h2>
    <ul>
      <li>
        <a href="{{ h.url_for("dataset.search") }}">
          <b>{{ h.SI_number_span(stats.dataset_count) }}</b>
          {{ _('discoverable dataset') if stats.dataset_count == 1 else _('discoverable datasets') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for("dataset.search", ext_dga_stat_group="api") }}">
          <b>{{ h.SI_number_span(stats.api_count) }}</b>
          {{ _('API enabled resource') if stats.api_count == 1 else _('API enabled resources') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for("dataset.search", ext_dga_stat_group="open") }}">
          <b>{{ h.SI_number_span(stats.open_count) }}</b>
          {{ _('openly licenced dataset') if stats.open_count == 1 else _('openly licenced datasets') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for("dataset.search", ext_dga_stat_group="unpublished") }}">
          <b>{{ h.SI_number_span(stats.unpub_data_count) }}</b>
          {{ _('unpublished dataset') if stats.unpub_data_count == 1 else _('unpublished datasets') }}
        </a>
      </li>

    </ul>
  </div>
</div>

<div class="module-latest-news">
  <div class="card box">
    <h2 class="page-heading">{{ _("Latest data.gov.au News") }}</h2>
    <p>
      <i class='fa-solid fa-square-rss'></i><a
            href='https://blog.data.gov.au/blogs/rss.xml'>&nbsp;Subscribe to the
      blog</a></div>
  </p>

  {% for entry in h.dga_blogfeed().entries %}
    <div class='module module-shallow module-narrow module-dark info box'>
      <h3>
        <a href='{{ entry.link }}'>{{ entry.title }}</a>
      </h3>
      <span color='black'>Posted on {{ entry.date }}</span>
    </div>
  {% endfor %}
</div>
