{% ckan_extends %}

{% block agls_geospatial_topic %}
  {% if pkg.get('geospatial_topic') %}
    <tr>
      <th scope="row" class="dataset-label">Geospatial Topics</th>
      <td class="dataset-details">
        <ul class="">
          {% if pkg.geospatial_topic is string %}
            <li>{{ pkg.geospatial_topic }}</li>
          {% else %}
            {% for field in pkg.geospatial_topic if field %}
              <li>{{ field }}</li>
            {% endfor %}
          {% endif %}

        </ul>
      </td>
    </tr>
  {% endif %}
{% endblock agls_geospatial_topic %}
