{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
{% if pkg.unpublished %}
    <div class="card card-body card-unpublished">
        <p class="card-text">
            This dataset is not publicly available. It is listed on data.gov.au as an <em>unpublished dataset</em> to
            improve discovery.
            Interested data users should contact the data custodian on the details below to discuss terms of access.
        </p>
    </div>
{% else %}
    <section id="dataset-resources" class="resources">
        <h3>{{ _('Data and Resources') }}</h3>
        {% block resource_list %}
            {% if resources %}
                {% set can_edit = can_edit or h.check_access('package_update', {'id':pkg.id }) %}
                <ul class="{% block resource_list_class %}resource-list{% endblock %}">
                    {% block resource_list_inner %}
                        {% for resource in resources %}
                            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
                        {% endfor %}
                    {% endblock %}
                </ul>
            {% else %}
                {% block resource_list_empty %}
                    {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
                        {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
                            <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
                        {% endtrans %}
                    {% else %}
                        <p class="empty">{{ _('This dataset has no data') }}</p>
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endblock %}
    </section>
{% endif %}
