include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/analytics *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/analytics/migration *.ini *.py *.mako
recursive-include ckanext/analytics/public *.*
